= link_to "Delete Assignment", assignment_path(assignment), method: "delete", class: "btn btn-xs btn-danger", :data => {confirm: "This is permanent. Are you sure you'd like to remove the assignment, it's comments, and submissions?"}

%br
%br

- if assignment.submissions
  %h3 Student Submissions
  %table.table.table-striped.table-hover
    %thead
      %th Student
      %th Submitted at
      %th
      %th
      %th
    %tbody
      - assignment.submissions.each do |submission|
        %tr
          %td= submission.student.full_name
          %td= submission.created_at
          %td
          %td
          %td