= "Hello #{@student.first_name} #{@student.last_name},"
%p
  Your submission was added to the assignment, and your instructor will get to it as soon as possible.

  Thank you!

%p.strong
  From everyone at The Iron Yard