= "Hello #{@user.first_name} #{@user.last_name},"
%p
  Here is the password reset you requested.
  %br
  %br
  = edit_password_reset_url(@user.password_reset_token)
  %br
  %br
  If you didn't make this request, please disregard this message.
  %br
  %br
%p
  Thank you,
  %br
  %strong
    From everyone at The Iron Yard