= "Hello #{@user.first_name} #{@user.last_name},"
%p
  We wanted to personally thank you for joining our family. And we promise to treat you just like everyone else.

  Thank you so much and we're looking forward to seeing you sooner than later!

%p.strong
  From everyone at The Iron Yard