- case @type
- when "Admin"
  = render 'admin_panel'
- when "Student"
  = render 'student_panel'
- when "Instructor"
  = render 'instructor_panel'
- when "TeachingAssistant"
  = render 'ta_panel'
- else
  %h1 I work!